@model IEnumerable<ProtonComputers.Models.Manufacturers>

@{
    ViewData["Title"] = "Manufacturers";
}

<h1>Manufacturers</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Founded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Founded)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ManufacturerID">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.ManufacturerID">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ManufacturerID">Delete</a>
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
